[Unit]
Description=VPS Monitor
After=network.target

[Service]
User=root
WorkingDirectory=/root/vps-monitor
ExecStart=/root/vps-monitor/venv/bin/python3 /root/vps-monitor/app.py
Restart=always

[Install]
WantedBy=multi-user.target
